Client/Resources/soap.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="AddressBookServiceService" targetNamespace="http://soap.services.tutorial.webservices.ios.beginning/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.services.tutorial.webservices.ios.beginning/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.services.tutorial.webservices.ios.beginning/" version="1.0" xmlns:tns="http://soap.services.tutorial.webservices.ios.beginning/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getPerson" type="tns:getPerson"/>
<xs:element name="getPersonResponse" type="tns:getPersonResponse"/>
<xs:element name="person" type="tns:person"/>
<xs:element name="phoneNumber" type="tns:phoneNumber"/>
<xs:complexType name="getPerson">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="person">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="phoneNumber" type="tns:phoneNumber"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="phoneNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:phoneType"/>
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="phoneType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mobile"/>
      <xs:enumeration value="home"/>
      <xs:enumeration value="work"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersonResponse">
    <wsdl:part element="tns:getPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerson">
    <wsdl:part element="tns:getPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AddressBookService">
    <wsdl:operation name="getPerson">
      <wsdl:input message="tns:getPerson" name="getPerson">
    </wsdl:input>
      <wsdl:output message="tns:getPersonResponse" name="getPersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressBookServiceServiceSoapBinding" type="tns:AddressBookService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressBookServiceService">
    <wsdl:port binding="tns:AddressBookServiceServiceSoapBinding" name="AddressBookServicePort">
      <soap:address location="http://localhost:8080/server-1.0/addressBook/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>